
<app-acitve-users></app-acitve-users>
<hr>
<app-inactive-users></app-inactive-users>
<hr>
<hr>
<form (ngSubmit)="onSubmit(user); userForm.reset();" #userForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="user.name" name="name"
          #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
  </div>

  <div class="form-group">
    <label for="status">User status</label>
    <select class="form-control"  id="status"
            required
            [(ngModel)]="user.status" name="status">
      <option *ngFor="let status of ['active', 'inactive']" [value]="status">{{status}}</option>
    </select>
  </div>
<button type="submit" [disabled]="!userForm.form.valid">Submit</button>
</form>